<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file"
            xsi:type="File"
            layout="${longdate} ${callsite} ${message} ${exception:format=ToString}"
            fileName="${basedir}/logs/${shortdate}.${level}.log"
            maxArchiveFiles="4"
            archiveAboveSize="10240"
            archiveEvery="Day" />
    <target name="logstash"
            xsi:type="Network"
            keepConnection="false"
            address="tcp://127.0.0.1:9600"
            layout="${longdate}#${callsite}#${message}#${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="logstash" />
  </rules>
</nlog>